@media screen and (max-width:576px) {
    .nav-bar{
        flex-direction: column;
    }
    .menu-link{
        flex-direction: column;
        gap: 5px;
        padding-bottom: 20px;
    }
    .menu-link a{
        text-align: center;
        border: 1px solid lightgoldenrodyellow;
        padding: 3px 5px;
        border-radius: 5px;
    }

    .banner-container{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
        text-align: center;
    }
    .banner-img{
        width: 100%;
    }








}